<!DOCTYPE html>

<html>
    
    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% if title %}{{title}}{% endif %}</title>    
        
        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        
        <!-- jquery-ui css -->
        <link rel="stylesheet" href="/css/jquery-ui.min.css" />

        <!-- custom css -->
        <link rel="stylesheet" href="/css/style.css" />

        <!-- jQuery -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>-->
        <!-- offline -->
        <script src="/js/jquery.js"></script>
        
        <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>-->
        <!-- offline -->
        <script src="/js/jquery-ui.min.js"></script>

        <!-- gmaps.js -->
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js"></script>

    </head>
    
    <body>
    
        {% include "menu.twig" %}

