<section>

	<aside>
		<h1>Vær ska vi no lille do?</h1>
		<div class="box">
			<form method="post" id="geocoding_form">
				<label for="address_field">Adress</label>	
				<div class="input">
					<input type="text" id="address_field" name="address_field">
					<input type="submit" class="btn" value="Sök">
				</div>
			</form>
		</div>
		<div class="destination">
			<div class="toggle">6trfe<i class="fa fa-chevron-down" aria-hidden="true"></i></div>
			<p>jknb</p>
		</div>
	</aside>
	
	<article>
		<div id = "gmap"></div>

	</article>
	
</section>