<section>

	<aside>
		<h1>Vær ska vi no lille do?</h1>
		<div>
			<form method = "post" id="geocoding_form">
				<label for = "address">Adress</label>	
				<div class="input">
					<input type="text" id="address_feild" name ="address_feild">
					<input type="submit" class="btn" value="search">
				</div>
			</form>
		</div>
		<div class="destination">
			<div class="toggle"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
			<p>jknb</p>
		</div>
	</aside>
	
	<article>
		<div id = "gmap"></div>

	</article>
	
</section>