<p id="slider-btn" class="pull-left visible-xs">
	<button type="button" class="btn btn-ghost" data-toggle="offcanvas">Visa/dölj</button>
</p>

<div class="row row-offcanvas row-offcanvas-left">

	<div id="sidebar" class="col-xs-12 col-sm-3 sidebar-offcanvas padding-md-bottom">

		<div class="row">

			<div class="col-xs-12 text-center">
		
				<h1 class="text-white">Vart ska vi nu?</h1>
					
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">
						<img class="img-responsive padding-lg-bottom" src="/px/loggagul.png" alt="Lille.do" />
					</div>
				</div>
	
				
				<form method="post" class="form" id="geocoding_form">
					<div class="form-group">
						<input type="text" class="form-control" id="geocoding_form_address" name="geocoding_form_address" placeholder="Sök plats">
					</div><!-- /input-group -->
					<div class="form-group">
						<button class="btn btn-block btn-ghost search" type="submit">Sök</button>
					</div>
				</form>

			</div>

		</div>

		<div class="row text-white" id="places-list-start">
		</div>
		<div class="row text-white" id="places-list">
		</div>
		<div class="row text-white" id="places-list-end">
		</div>

		<a class="btn btn-logout pull-right" href="/map/logout/">Logga ut</a>

	</div>

	<div class="col-xs-12 col-sm-9" id="gmap-wrap">
		<div id="gmap"></div>
	</div>

</div> <!--row-offcanvas-->